@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/roboto-regular-webfont.woff") format("woff");
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Reset elements*/
*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
}

.container-margin {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
}
