@import '_root.scss';
@import 'variables';
@import 'functions';
@import 'buttons';
@import 'grid';

.required {
  color: red;
  position: relative;
  left: -12px;
  bottom: -3px;
}


/* Import components */
@import 'components/navbar';
@import 'components/alert';
@import 'components/form';
@import 'components/panel';
@import 'components/modal';
@import 'components/breadcrumb';
@import 'components/progressbar';
@import 'components/card';
@import 'components/dropdown';
