/** Breadcrumb component */
nav.breadcrumb, div.breadcrumb {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  font-family: "robotoregular", sans-serif;

  ul, ol {
    list-style: none;
    font-size: 0.9rem;

    li {
      display: inline;
      &:first-child:before {
        content: "";
        margin-left: 0;
      }

      &:before {
        content: "/";
        margin-left: 2px;
        margin-right: 6px;
      }

      &:last-child {
        color: darken($grey, 60%);
        font-weight: bold;
      }
    }
  }
}
