/* Form component*/
form {
  input {
    &[type] {
      &:not([type="submit"]):not([type="reset"]):not([type="button"]) {
        height: 34px;
        border: 1px solid $grey;
        border-radius: 4px;
        padding-left: 5px;
        padding-right: 11px;

        &:focus, &:focus-visible {
          border: 2px solid $grey;
          outline: none;
        }
      }

      &[type="text"],
      &[type="password"],
      &[type="date"],
      &[type="datetime-local"],
      &[type="email"],
      &[type="month"],
      &[type="number"],
      &[type="search"],
      &[type="tel"],
      &[type="time"],
      &[type="url"],
      &[type="week"] {
        $list: success, error, warning, info, primary;
        @each $l in $list {
          &.#{$l} {
            $color: $grey;

            @if $l == success {
              $color: $green;
            } @else if $l == error {
              $color: $red;
            } @else if $l == warning {
              $color: $yellow;
            } @else if $l == info {
              $color: $azure;
            } @else if $l == primary {
              $color: $blue;
            }

            border: 1px solid $color !important;

            &:focus, &:focus-visible {
              border: 2px solid $color !important;
            }

            &::placeholder {
              color: darken($color, 15%) !important;
            }
          }
        }
      }

      &[type="checkbox"] {
        appearance: none;
        height: 24px !important;
        width: 24px !important;
        border: 2px solid $grey;
        position: relative;
        top: 7px;
        margin-right: 4px;

        &:hover {
          cursor: pointer;
        }

        &:checked {
          background-color: $grey;
          top: 3px;

          &:disabled {
            background-color: lighten($grey, 10%);
            border: 2px solid lighten($grey, 10%);
            cursor: initial;
          }
        }

        &:checked:after {
          content: "\2715";
          font-size: 1.5rem;
          color: white;
          position: relative;
          top: -2px;
          left: -5px;
          vertical-align: middle;
        }

        $list: success, error, warning, info, primary;
        @each $l in $list {
          &.#{$l} {
            $color: $grey;

            @if $l == success {
              $color: $green;
            } @else if $l == error {
              $color: $red;
            } @else if $l == warning {
              $color: $yellow;
            } @else if $l == info {
              $color: $azure;
            } @else if $l == primary {
              $color: $blue;
            }

            border: 2px solid $color;

            &:checked {
              background-color: $color;
              border: 2px solid $color;

              &:disabled {
                background-color: lighten($color, 10%);
                border: 2px solid lighten($color, 10%);
              }
            }
          }
        }
      }
    }
  }
}


/*form{
   input {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 35px;
    border: 1px solid $grey;
    border-radius: 4px;
    padding-left: 0.5rem;
    margin-bottom: 1%;
    font-size: 1rem;

    &:focus {
      box-shadow: 0 0 0 0.2rem transparentize($blue, 0.5);
      border: 1px solid transparentize($blue, 0.5);
      outline: 0;
    }
  }

  textarea {
    width: 100%;
    max-width: 100%;
    min-height: 10rem;
    border: 1px solid $grey;
    margin-top: 0.2rem;

    &:focus {
      box-shadow: 0 0 0 0.2rem transparentize($blue, 0.5);
      border: 1px solid transparentize($blue, 0.5);
      outline: 0;
    }
  }

  textarea[required] {
    background-image: url("data:image/svg+xml,<svg width=\"32px\" height=\"32px\" viewBox=\"0 0 64 64\" xmlns=\"http://www.w3.org/2000/svg\"><text fill=\"red\" transform=\"matrix(1 0 0 1 -0.4355 63.374)\" style=\"font-size:82px;\">*</text></svg>");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: right 4px top 13px;
  }
}

form.askacss input.form-success {
  border-color: darken($green, 20%);
}

form.askacss input.form-error {
  border-color: darken($red, 20%);
}

form.askacss input.form-warning {
  border-color: darken($yellow, 20%);
}

form.askacss input.form-info {
  border-color: darken($azure, 20%);
}

form.askacss input:focus.form-success {
  border-color: darken($green, 50%);
}

form.askacss input:focus.form-error {
  border-color: darken($red, 50%);
}

form.askacss input:focus.form-warning {
  border-color: darken($yellow, 50%);
}

form.askacss input:focus.form-info {
  border-color: darken($azure, 50%);
}

form.askacss input[required] {
  background-image: url("data:image/svg+xml,<svg width=\"32px\" height=\"32px\" viewBox=\"0 0 64 64\" xmlns=\"http://www.w3.org/2000/svg\"><text fill=\"red\" transform=\"matrix(1 0 0 1 -0.4355 63.374)\" style=\"font-size:82px;\">*</text></svg>");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: right 4px top 13px;
}

form.askacss input[type="submit"], form.askacss input[type="reset"], form.askacss input[type="button"] {
  display: inherit;
  margin: 0%;
  width: inherit;
  height: inherit;
}

form.askacss {
  input[type="checkbox"], > div > input[type="checkbox"] {
    appearance: none;
    border: none;
    background-color: $grey;
    width: 4rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    vertical-align: middle;
    margin-bottom: 5px;
    transition: all 0.5s;

    +label {
      &:before {
        display: inline-block;
        content: "";
        background-color: #fff;
        height: 1.2rem;
        width: 1.2rem;
        border-radius: 50%;
        vertical-align: middle;
        position: relative;
        left: -3.7rem;
        top: -0.14rem;
        transition: all 0.5s;
      }
    }

    &:checked {
      background-color: $blue;

      +label {
        &:before {
          position: relative;
          left: -1.5rem;
        }
      }
    }
  }

  > input[type="checkbox"] {
    padding: 0;
    margin: 0 0 5px 0;

    +label:before {
      position: relative;
      left: 0.3rem;
      top: -1.72rem;
    }

    &:checked {
      +label:before {
        position: relative;
        left: 2.5rem;
        top: -1.72rem;
      }
    }
  }

  input[type="radio"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 3px solid $grey;
    border-radius: 50%;
    margin: 0 0 -1rem;

    +label {
      position: relative;
      top: -0.1rem;
      left: 1.5rem;
    }

    &:checked {
      background-color: $blue;
    }
  }

  select {
    width: 100%;
    height: 40px;
    font-size: 1rem;
    border-radius: 0.25rem;
    background-color: inherit;
    border: 1px solid $grey;

    &:focus {
      box-shadow: 0 0 0 0.2rem transparentize($blue, 0.5);
      border: 1px solid transparentize($blue, 0.5);
      outline: 0;
    }
  }

  fieldset {
    padding: 0.5% 1% 1%;
    border: 1px solid $grey;

    legend {
      padding-left: 0.5%;
      padding-right: 0.5%;
    }
  }
}

form.askacss button, form.askacss input[type="submit"], form.askacss input[type="reset"], form.askacss input[type="button"] {
  padding: 0.4% 0.9% 0.4% 0.7%;
  border: 1px solid $blue;
  border-radius: 0.25rem;
  background-color: $blue;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
}

form.askacss button:hover, form.askacss input[type="submit"]:hover, form.askacss input[type="reset"]:hover, form.askacss input[type="button"]:hover {
  background-color: darken($blue, 10%);
  border-color: darken($blue, 10%);
}

form.askacss button.btn-default {
  background-color: $grey;
  border-color: $grey;
  color: black;
}

form.askacss button:hover.btn-default, form.askacss input:hover.btn-default {
  background-color: darken($grey, 10%);
  border-color: darken($grey, 10%);
  color: black;
}*/
