/** Panel Component */
.panel {
  border: 1px solid $grey;
  font-family: "robotoregular", sans-serif;

  @for $i from 2 through 5 {
    > h#{$i} {
      background-color: lighten($grey, 20%);
      padding: 0.4rem 0.6rem 0.4rem;

      &.title {
        font-size: 1rem;
        font-weight: normal;
        text-transform: uppercase;
      }
    }
  }

  .body {
    padding: 0.4rem 0.6rem;
    font-size: 1rem;
  }

  .footer {
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  $list: success, error, warning, info, primary;
  @each $l in $list {
    &.#{$l} {
      $color: colorclass($l);

      border: 1px solid $color;

      @for $i from 2 through 5 {
        > h#{$i} {
          @if $color == $blue {
            background-color: darken($color, 10%);
            color: white;
          } @else {
            background-color: lighten($color, 10%);
            color: darken($color, 50%);
          }
        }
      }
    }
  }
}
