/** Panel Component */
.panel {
  border: 1px solid $grey;
  font-family: "robotoregular", sans-serif;
  box-shadow: 0px 4px 14px 2px #8a8a8a;

  @for $i from 2 through 5 {
    > h#{$i} {
      background-color: lighten($grey, 20%);
      padding: 0.4rem 0.6rem 0.4rem;

      &.title {
        font-size: 1rem;
        font-weight: normal;
        text-transform: uppercase;
      }
    }
  }

  .body {
    padding: 0.4rem 0.6rem;
    font-size: 1rem;
  }

  .footer {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
}

$list: success, error, warning, info, primary;
@each $l in $list {
  .panel-#{$l} {
    $color: $grey;

    @if $l == success {
      $color: $green;
    } @else if $l == error {
      $color: $red;
    } @else if $l == warning {
      $color: $yellow;
    } @else if $l == info {
      $color: $azure;
    } @else if $l == primary {
      $color: $blue;
    }

    @for $i from 2 through 5 {
      > h#{$i} {
        @if $color == $blue {
          background-color: darken($color, 10%);
          color: white;
        } @else {
          background-color: lighten($color, 10%);
          color: darken($color, 50%);
        }
      }
    }
  }
}
